body {
  background-color : #ffffff;
  font-family: "arial", sans-serif;
  color: #636363;
  margin:auto;
  max-width: 960px;
}

.slider{
  background-image: url("https://lilianti.github.io/images/purple-cloud.png");
  color : white; 
  font-size: 3em;
  padding: 70px 0 70px 40px;
}

footer{
  clear: left;
}

#logo{
  width: 25%;
}


@import "compass/css3";

* {
  @include box-sizing(border-box);
}

$pad: 20px;

.grid {
  background: grey;
  margin: 0 0 $pad 0;
  border: 1px solid green;
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
	float: left;
  padding-right: $pad;
  .grid &:last-of-type {
  	padding-right: 0;
  }
}

.col-2-3 { width: 66.66%; }
.col-1-3 { width: 33.33%; }
.col-1-2 { width: 50%; }
.col-1-4 { width: 25%; }
.col-1-8 { width: 12.5%; }

.module {
  
}

li {  
  list-style:none;  
}

a{
  text-decoration: none;
  color: #ffffff;
}

.box-kecil {
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 165px;
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding: 30px 0 30px 10px; 
  display: inline-block;
  
  > a {
    
  }
}

[class*='box-']{
  margin-left: auto;
}
.box1 {background-color: #ffb5bf;}
.box2 {background-color: #826f83;}
.box3 {background-color: #d0afc0;}
.box4 {background-color: #f2e3c4;}
.box5 {background-color: #bed28d;}
.box6 {background-color: #f1d396;}

[class*="box-"]:hover{ background-color: grey;}




/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

.about-me { 
  margin: 20px;
  clear: left;
  background-image: url("https://lilianti.github.io/images/succulent01.png");
  width: 280px; 
  height: 50px;
  padding: 70px 0;
  font-size: 2.5em;
}

#logo_kucing {
 width:150px;
 transition: all 1s;
 }

#logo_kucing:hover {
 transform: rotate(-360deg);
}

.form-center {
  text-align:center;
  margin:auto;  
  list-style:none;
  padding: 20px;
}

.mystoy {
}

.bulat{
  width: 150px;
  padding: 20px;
}

.bulan:hover{
  
}
