body {
 background-image: url("/images/background-dot.png");
 background-repeat: repeat;
}

* {
 font-family:"Verdana", Geneva, sans-serif;
}
h1 {
 color :#f3c01a;
}

h2 {
 color :#2fb9b9;
}

p{
 text-align:center;
 color:#777777;
}
.center{
 align-content: center;
}

#para1 {
  color: #F2BAC9;
}
#logo_kucing {
  width:150px;
  padding 30px 30px;
}

#welcome {
}
