 body {
            background-image: url("/images/background-dot.png");
            background-repeat: repeat;
         }
p {
  color: #F2BAC9;
}

img {
  width: 100px;
}
#logo {
  background-color: white;
}
.gambar {
  border: 1px solid black;
}
.gambar.kecil {
  width: 50px;
}
